
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}
.dark-3{
    color: #727272;
}
.dark-2{
    color: #424242;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
    margin-bottom: 50px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.80rem;
    font-weight: 700;}

/* header styles */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* nav bar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    list-style: none;
}  
.brand{
    font-weight: bold;
    font-size: 3rem;
}

.nav-link{
    text-decoration: none;
    margin-right: 30px;
}
.navbar ,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner styles */
.banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}
/* teams styles */
.teams{
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-feature{
    margin-left: 70px;
    max-width: 530px;
}
#quick-list{
    font-weight: 500;
}
.text-primary{
    color: #FF900E;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}
.section-description{
    width: 540px;
    margin-bottom: 100px;
}
.section-info{
    text-align: center;
    max-width: 540px;
    margin: 50px auto;
}
.companies{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    filter: grayscale(100%);
}

/* feature realeted style */
.features{
    gap: 140px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.feature-title{
    font-weight: 600;
    font-size: 1.24rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-card{
    width: 580px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.years{
    font-size: 4rem;
    font-weight: bold;
}
.experiance{
    font-size: 1.55rem;
    font-weight: 500;
}
.xp-container{
    padding: 43px;
    width: 342px;
    margin-left: -100px;
    margin-top: -100px;
}
/* footer styles */
.footer{
    width: 1440px;
    background-color: rgba(255, 144, 14, 0.1);
    justify-items: center;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
}


/* responsive styles */
@media screen and (max-width : 576px) {
    .navbar,
    .nav-links,
    .teams,
    .features
    {
        flex-direction: column;
    }
    .team-image-container ,.fact-container{
        grid-template-columns: repeat(1 ,1fr);
    }
    .team-feature{
        margin: 0 auto;
    }
    .section-description{
        width: 100%;
    }
    .fact-card{
        margin: 0 auto;
    }
    .fact-container{
        gap: 24px;
    }
    .companies {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 50px;
    }
    .feature-image{
        width: 100%;
    }
    .feature-card{
        width: 100%;
    }
    .xp-container{
        margin-top: 20px;
        margin-left: 20px;
    }
    .footer {
        width: 100%;}
}
/* responsive for medium devices */
@media screen and (min-width:576px) and (max-width:990px) {
    .teams,
    .features{
        flex-direction: column;
    }
    .xp-container {
        margin-left: 20px;
        margin-top: 20px;
    }
    .fact-container {
        grid-template-columns: repeat(2 ,1fr);
        gap: 30px;
    }
    .companies {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
}
    .section-peragraph{
        width: 100%;
    }
    .footer {
        width: 100%;}
}